#projects {
    background-color: rgba(27, 31, 34, 0.85);
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project_title {
    font-size: 20pt;
        letter-spacing: 0.5rem;
        width: max-content;
        color: white;
        border-bottom: solid 1px white;
        padding-bottom: 0.5rem;
        font-weight: 700;
        margin: 0 735pt 2rem 0;
        text-transform: uppercase;
    font-family: 'LeagueSpartan-Bold';
}

.project_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    width: 1187px;
}

.project_inner_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    /* height: 426px; */
}

.githubtext {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'LeagueSpartan-Black';
    font-size: 20pt;
        letter-spacing: 0.1rem;
}



.git_link {
    text-decoration: none;
    color: white;
	transition: transform .2s; 
}

.git_link:hover {
    transform: scale(1.1);
}

.project_p {
    color: white;
    text-align: center;
    font-weight: 600;
}


.project_image {
    width: 350px;
    height: 350px;
    border-radius: 15px;
	/* transition: transform .2s; */
}

.project_card {
        width: 350px;
            height: 350px;
            position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
    justify-content: space-evenly;
    align-items: center;

}

.project_card:hover .overlay {
    display: flex;
    cursor: pointer;
    
}

/* .project_image:hover { */
    /* transform: scale(1.1); */
/* } */

@media (min-width: 320px) and (max-width: 1279px) {

    /* Phone */
    #projects {
        min-height: 1300px;
    }

    .project_div {
        max-width: 320px;
        /* margin: 0; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project_inner_div {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .project_title {
        font-size: 10pt;
        margin-bottom: 25px;
        margin: 0;
    }


}