
.welcome_image {
    min-width: 100%;
    max-height: 760px;
    object-fit: cover;
}

.profile_image_div {
display: flex;
flex-direction: column;
justify-content: space-around;
/* justify-items: center; */
/* align-content: center; */
align-items: flex-start;
    height: 237px;
}

.profile_image {
    height: 125px;
    width: 125px;
    border: 1px solid white;
        border-radius: 75px;
        background-color: rgba(255, 255, 255, 0.7);
animation: 7s infinite ease-in-out bounce;
    -webkit-animation: bounce 7s infinite ease-in-out;
    -moz-animation: bounce 7s infinite ease-in-out;
    -o-animation: bounce 7s infinite ease-in-out;
    -ms-animation: bounce 7s infinite ease-in-out;
}


.welcome_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    /* left: 50px; */
    position: absolute;
    color: white;
}

@-webkit-keyframes bounce {
	0% {-webkit-transform: translateY(0);}	
	50% {-webkit-transform: translateY(-10px);}
	100% {-webkit-transform: translateY(0px);}
}
 
@-moz-keyframes bounce {
	0% {-moz-transform: translateY(0);}
	50% {-moz-transform: translateY(-10px);}
	100% {-moz-transform: translateY(0px);}
}
 
@-o-keyframes bounce {
	0% {-o-transform: translateY(0);}
	50% {-o-transform: translateY(-10px);}
	100% {-o-transform: translateY(0px);}
}

@-ms-keyframes bounce {
    0% {-o-transform: translateY(0);}
	50% {-o-transform: translateY(-10px);}
	100% {-o-transform: translateY(0px);}
}

@keyframes bounce {
	0% {transform: translateY(0);}
	50% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}




.hi {
    font-size: 7rem;
    font-family: 'LeagueSpartan-Black';
    animation: 5s infinite ease-in-out bounce;
    -webkit-animation: bounce 5s infinite ease-in-out;
    -moz-animation: bounce 5s infinite ease-in-out;
    -o-animation: bounce 5s infinite ease-in-out;
    -ms-animation: bounce 5s infinite ease-in-out;
}

.profile_text_div {
        position: absolute;
        top: 100%;
        left: 39.2%;
        transform: translate(-50%, -50%);
        height: 60px;
        padding: 0 40px;
        overflow: hidden;
    width: 245px;
}

.profile_inner {
    text-align: center;
    color: greenyellow;
    line-height: 60px;
    font-size: 2rem;
    width: 290px;
    font-family: 'LeagueSpartan-Med';
}

.profile_inner:first-child {
    animation: rotate 7.5s infinite;
    -webkit-animation: rotate 7.5s infinite;
    -moz-animation: rotate 7.5s infinite;
    -o-animation: rotate 7.5s infinite;
    -ms-animation: rotate 7.5s infinite;
}


@-webkit-keyframes rotate {
	0%{
        margin-top: 0px;
    }
    25%{
        margin-top: -60px;
    }
    50%{
        margin-top: -120px;
    }
    75%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0px;
    }
}
 
@-moz-keyframes rotate {
	0%{
        margin-top: 0px;
    }
    25%{
        margin-top: -60px;
    }
    50%{
        margin-top: -120px;
    }
    75%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0px;
    }
}
 
@-o-keyframes rotate {
	0%{
        margin-top: 0px;
    }
    25%{
        margin-top: -60px;
    }
    50%{
        margin-top: -120px;
    }
    75%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0px;
    }
}

@-ms-keyframes rotate {
    0%{
        margin-top: 0px;
    }
    25%{
        margin-top: -60px;
    }
    50%{
        margin-top: -120px;
    }
    75%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0px;
    }
}

@keyframes rotate{
    0%{
        margin-top: 0px;
    }
    25%{
        margin-top: -60px;
    }
    50%{
        margin-top: -120px;
    }
    75%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0px;
    }
}

.profile_con_text {
    display: flex;
    flex-direction: row;
    font-family: 'LeagueSpartan-Med';
    font-size: 2rem;
}

#console {
    width: 437px;
    text-align: left;
    color: rgb(165, 219, 252);
}

#period {
    color: lightyellow;
}

#log {
    color: lightyellow;
}


.parenthis {
    color: yellow;
}



@media (min-width: 320px) and (max-width: 1279px) {

    /* Phone */
    .welcome_image {
        width: 320px;
        height: 420px;
    }

    .hi {
        font-size: 3rem;
    }

    .profile_image_div {
        height: 110px;
        width: 320px;
    }

    .profile_text_div {
        width: 200px;
        left: 50%;
        top: 103%;
    }

    #console {
        width: 240px;
    }

    .welcome_text {
        left: 100px;
    }

    .profile_con_text {
        font-size: 1rem;
    }

    .profile_inner {
        width: 200px;
        font-size: 14pt;
    }
}