#footer {
    height:100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 25px;
    background-color: rgba(27, 31, 34, 0.85);
    color: white;
    font-weight: 600;
}