html {
    min-height: 100%;
    /* display: flex;
      justify-content: center;
      align-items: center; */
}

body {
  background-image: url('./assets/images/bg.jpg');
  margin: 0;
font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: "Source Sans Pro", sans-serif;
}
